:root {
  --main: #999999;
  --silver: rgba(153,153,153,0.4);
  --empty: rgba(0,0,0,0);
  --trans1: rgba(0,0,0,1.0);
  --trans2: rgba(0,0,0,0.7);
  --trans3: rgba(0,0,0,0.3);
}

body {
  background: white;
  font-family: Arial, Helvetica, sans-serif;
}

header {
  padding: 30px 30px 10px 20px;
  display: flex;
  justify-content: space-between;
  background: var(--main);
  border-bottom: solid 3px black;
}

header h1 {
  color: white;
  font-size: 4.5rem;
  font-family: Impact, Charcoal, sans-serif;
}

header h1 a {
  text-decoration: none;
}

header h1 a:visited {
  color: white;
}

#movie-input {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
}

main input[type="text"] {
  padding: 30px;
  font-size: 1rem;
  width: 100%;
  margin: 20px;
  border: none;
  color: var(--main);
  background: #d3d3d3;
}

main input[type="text"]:focus {
  outline: none;
}

main input[type="text"]::-webkit-input-placeholder {
  color: var(--main);
}

main .movie-option-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-content: space-around;
  margin-bottom: 100px;
  padding: 0px 20px 0px 0px;
}

main .movie-option {
  width: 100%;
  overflow: hidden;
  display: inline-block;
  //padding: 0px 20px 20px 20px;
}

main .movie-option img {
  width: 100%;
  height: 99.99%;
  padding: 0px 0px 20px 20px;
}

footer {
  position: fixed;
  width: 100%;
  bottom: 0;
  background: #d3d3d3;
  border-top: solid 3px black;
}

footer .social-media {
  display: flex;
  justify-content: space-around;
  width: 100%;
  padding: 1rem;
}

footer .social-media .social-media-item {
  width: 4rem;
}

footer .social-media a svg {
  width: 4rem;
}

footer #twitter-a:hover > #twitter-b {
    fill: #1da1f2;
}

footer #facebook-a:hover > #facebook-b {
  fill: #3b5998;
}

footer i img {
  width: 4rem;
}

@media(min-width: 415px) {
  main .movie-option-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    position: relative;
  }
  main .movie-option {
    width: 50%;
  }
  main .movie-option-container img {
    max-width: 375px;
  }
}
@media(min-width: 683px) {
  main .movie-option {
    width: 33.333333%;
  }
}
@media(min-width: 856px) {
  main .movie-option {
    width: 25%;
  }
}
@media(min-width: 1134px) {
  main .movie-option {
    width: 20%;
  }
}
@media(min-width: 1420px) {
  main .movie-option {
    width: 16.666666%;
  }
}
/*
@media(min-width: 358px) {
  main .movie-option {
    width: 100%;
  }
}*/
