:root {
  --main: #999999;
  --silver: rgba(153,153,153,0.2);
  --empty: rgba(0,0,0,0);
  --trans1: rgba(0,0,0,1.0);
  --trans2: rgba(0,0,0,0.7);
  --trans3: rgba(0,0,0,0.3);
}

body {
  background: url(src/background1.jpg) center no-repeat;
  font-family: Arial, Helvetica, sans-serif;
  height: 100vh;
}

header {
  padding: 30px 30px 10px 36px;
  display: flex;
  justify-content: space-between;
  background: var(--silver);
  border-bottom: solid 10px var(--main);
}

header h1 {
  color: var(--main);
  font-size: 8rem;
  font-family: Impact, Charcoal, sans-serif;
}

header h1 a {
  text-decoration: none;
}

header h1 a:visited {
  color: var(--main);
}

#movie-input {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
}

main input[type="text"] {
  padding: 50px;
  font-size: 2rem;
  width: 100%;
  border: none;
  color: var(--main);
  background: var(--trans3);
}

main input[type="text"]::-webkit-input-placeholder {
  color: var(--silver);
}

main .movie-option-container {
  display: flex;
  flex-direction: column;
  align-content: space-around;
}

main .movie-option {
  width: 100%;
  padding: 15px 15px 0px 15px;
  display: inline-block;
}

main .movie-option img {
  width: 18%;
  display: inline-block;
}

main .movie-option p {
  font-size: 2rem;
  display: inline-block;
  height: 135px;
  width: 79%;
  padding: 55px 55px 55px 30px;
  vertical-align: top;
  background: var(--silver);
  color: var(--main);
  margin-left: 11px;
}

footer {
  position: absolute;
  width: 100%;
  padding: 30px;
  bottom: 0;
  background: var(--silver);
  border-top: solid 10px var(--main);
}

footer .social-media {
  display: flex;
  justify-content: space-around;
  width: 100%;
}

footer i img {
  width: 8rem;
}
