:root {
    --main: #999999;
    --silver: rgba(153,153,153,0.2);
    --empty: rgba(0,0,0,0);
    --trans1: rgba(0,0,0,1.0);
    --trans2: rgba(0,0,0,0.7);
}

body {
    background-image: url(../src/background1.jpg);
    background-size: cover;
    font-family: Arial, Helvetica, sans-serif;
}

#content {
    margin: 0 auto;
    width: 629px;
    margin-top: 60px;
    border-bottom: solid 5px var(--silver);
}

#logo {
    color: var(--main);
    position: relative;
    font-size: 80px;
    font-family: Impact, Charcoal, sans-serif;
}

#movTitle {
    width: 585px;
    margin: 0 auto;
    padding: 20px;
    position: relative;
    background-color: var(--silver);
    border-bottom-color: var(--main);
    border-bottom-style: solid;
    border-bottom-width: 5px;
    border-top: none 0px var(--empty);
    border-left: none 0px var(--empty);
    border-right: none 0px var(--empty);
    color: var(--main);
}

#poster {
    width: 170px;
    height: 230px;
    border: solid 5px var(--silver);
    position: relative;
    display: inline-block;
    overflow: hidden;
    margin-left: 2px;
    margin-top: 20px;
}

#poster img {
    object-fit: cover;
    width: 100%;
}

#plot {
    background-color: var(--silver);
    color: var(--main);
    position: absolute;
    text-align: justify;
    width: 430px;
    margin-top: -225px;
    margin-left: 176px;
    height: 68px;
    padding: 10px;
    font-size: 14px;
}

#ratings {
    width: 110px;
    display: inline-block;
    color: var(--main);
}

#ratings td:nth-child(1) {
    text-align: center;
}

#ratings td:nth-child(2) {
    padding: 10px;
}

#imdb {
    width: 50px;
}

#tomMeter {
    width: 40px;
}

#tomUser {
    width: 25px;
}